<p-dialog
  [(visible)]="display"
  [modal]="true"
  [style]="{ width: '50vw', height: '100vh' }"
  position="center"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  (onHide)="onDialogHide()"
>
  <!-- Step 1: Coupons Table -->
  <div class="coupon-panel_container">
    <div class="container-fluid">
      <div *ngIf="currentStep === 1" class="row text-center mb-3">
        <div class="col-sm-12">
          <div class="coupon-panel_title">
            <span class="coupon-panel_title-bold">Cupones</span>
            <button
              type="button"
              class="btn-close float-end"
              aria-label="Close"
              (click)="closeDialog()"
            ></button>
          </div>
        </div>
      </div>
      <div *ngIf="currentStep === 1" class="row text-center mb-3">
        <div class="col-sm-12">
          <button class="btn btn-primary float-end" (click)="nextStep()">
            <fa-icon [icon]="faPlusCircle"></fa-icon> Crear Cupón
          </button>
        </div>
      </div>
      <div *ngIf="currentStep === 1" class="row">
        <div class="col-sm-12">
          <p-table
            *ngIf="coupons.length > 0"
            [value]="coupons"
            [paginator]="coupons.length > 25"
            [rows]="25"
            [responsiveLayout]="'scroll'"
            paginatorPosition="bottom"
            class="custom-p-table"
          >
            <ng-template pTemplate="header">
              <tr>
                <th>Código</th>
                <th>Descuento</th>
                <th>Fecha de Expiración</th>
                <th>Acciones</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-coupon>
              <tr>
                <td>{{ coupon.value }}</td>
                <td>{{ coupon.discount }}%</td>
                <td>{{ coupon.expiration_date }}</td>
                <td>
                  <button
                    class="btn btn-outline-primary btn-sm"
                    (click)="editCoupon(coupon)"
                  >
                    <fa-icon [icon]="faPencilAlt"></fa-icon>
                  </button>
                  <button
                    class="btn btn-outline-danger btn-sm ms-2"
                    (click)="confirmDeleteCoupon(coupon)"
                  >
                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                  </button>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <div *ngIf="coupons.length === 0" class="text-center mt-3">
            <p>No hay cupones disponibles.</p>
          </div>
        </div>
      </div>

      <!-- Step 2: Create/Edit Coupon -->
      <div *ngIf="currentStep === 2" class="row">
        <div class="col-sm-12">
          <form [formGroup]="couponForm" (ngSubmit)="onSubmit()">
            <div class="form-group mb-2">
              <label for="value">Código</label>
              <input
                type="text"
                id="value"
                formControlName="value"
                class="form-control"
                (input)="convertToUppercase($event)"
                [ngClass]="{
                  'is-invalid':
                    couponForm.get('value')?.invalid &&
                    couponForm.get('value')?.touched
                }"
              />
            </div>
            <div class="form-group mb-2">
              <label for="discount">Descuento (%)</label>
              <input
                type="number"
                id="discount"
                formControlName="discount"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    couponForm.get('discount')?.invalid &&
                    couponForm.get('discount')?.touched
                }"
              />
            </div>
            <div class="form-group mb-2">
              <label for="expiration_date">Fecha de Expiración</label>
              <input
                type="date"
                id="expiration_date"
                formControlName="expiration_date"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    couponForm.get('expiration_date')?.invalid &&
                    couponForm.get('expiration_date')?.touched
                }"
              />
            </div>
            <div class="form-group text-center">
              <button
                type="button"
                class="btn btn-outline-danger"
                (click)="previousStep()"
              >
                Atrás
              </button>
              <button
                type="submit"
                class="btn btn-primary ms-2"
                [disabled]="couponForm.invalid"
              >
                <fa-icon
                  [icon]="editingCoupon ? faPencilAlt : faPlusCircle"
                ></fa-icon>
                {{ editingCoupon ? "Actualizar Cupón" : "Crear Cupón" }}
              </button>
            </div>
          </form>
        </div>
      </div>

      <!-- Step 3: Confirm Delete -->
      <div *ngIf="currentStep === 3" class="row text-center mb-3">
        <div class="col-sm-12">
          <div class="coupon-panel_title">
            <span class="coupon-panel_title-bold">Confirmar Eliminación</span>
            <button
              type="button"
              class="btn-close float-end"
              aria-label="Close"
              (click)="closeDialog()"
            ></button>
          </div>
        </div>
        <div class="col-sm-12">
          <p>
            ¿Está seguro de que desea eliminar el cupón
            {{ deletingCoupon?.value }}?
          </p>
          <div class="form-group text-center">
            <button
              type="button"
              class="btn btn-outline-danger"
              (click)="previousStep()"
            >
              Cancelar
            </button>
            <button
              type="button"
              class="btn btn-danger ms-2"
              (click)="deleteCoupon()"
            >
              Eliminar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
