<section
  class="d-flex justify-content-center align-items-center main-container pt-5 bg-dark"
  id="goTop"
>
  <div class="container py-vh-4 position-relative mt-5 px-vw-5 text-center">
    <div
      class="row d-flex align-items-center justify-content-center py-vh-5 mx-auto"
    >
      <div class="col-12 col-xl-10" id="target-element">
        <div class="row">
          <div class="col-6 text-container text-end text-white">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <h1 class="main-title">
                    Te ayudo a manejar tu dinero para ahorrar e invertir SIN
                    ARRIESGAR TU PATRIMONIO
                  </h1>
                </div>
              </div>
              <div class="row mt-5">
                <div class="col-sm-12">
                  <div
                    id="quoteCarousel"
                    class="carousel slide"
                    data-bs-ride="carousel"
                    data-bs-interval="3000"
                  >
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <p class="quote-text">
                          <em>"Quote 1: This is the first quote."</em>
                        </p>
                      </div>
                      <div class="carousel-item">
                        <p class="quote-text">
                          <em>"Quote 2: This is the second quote."</em>
                        </p>
                      </div>
                      <div class="carousel-item">
                        <p class="quote-text">
                          <em>"Quote 3: This is the third quote."</em>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 image-container">
            <img
              src="https://garbrix.com/silvia/assets/images/IMG-20250117-WA0016.png"
              alt="landing-image"
              class="img-fluid"
            />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <a href="#vermas" class="btn btn-light btn-lg m-1"
              >¡Quiero saber más!</a
            >
            <button class="btn btn-light btn-lg m-1" (click)="showDialog()">
              Comprar libro
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-light py-5" id="vermas">
  <div class="container my-5">
    <div class="row my-5">
      <div class="col-sm-12">
        <h2 class="display-4 text-center text-secondary">
          ”TENGO MIEDO DE INVERTIR Y PERDERLO TODO"
        </h2>
        <p class="lead text-center text-secondary">
          Te entiendo porque yo también lo viví. Descubrí algo clave: mayor
          riesgo, mayor rendimiento; menor riesgo, menor rendimiento. Tú decides
          cuánto riesgo asumir según tu comodidad, eso define tu perfil de
          inversionista. ¿Prefieres inversiones seguras en México,
          diversificación global, ser socio de multinacionales o apostar por
          tecnologías disruptivas? O quizás, un poco de todo. La verdadera
          pregunta es: ¿en qué tipo de inversionista quieres convertirte?
        </p>
      </div>
    </div>
  </div>
</section>
<section
  class="d-flex justify-content-center align-items-center main-container pt-5 bg-dark"
  id="vermas"
>
  <div class="container py-vh-4 position-relative mt-5 px-vw-5 text-center">
    <div
      class="row d-flex align-items-center justify-content-center py-vh-5 mx-auto"
    >
      <div class="col-12 col-xl-10" id="target-element">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="text-white main-title">Hola, soy Silvia Mercado</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-6 image-container">
            <img
              src="https://garbrix.com/silvia/assets/images/IMG-20250117-WA0026.png"
              alt="landing-image"
              class="img-fluid"
            />
          </div>
          <div class="col-6 text-container text-white">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <p class="quote-text">
                    Soy asesora certificada con Cédula B ante la Comisión
                    Nacional de Seguros y Fianzas; y cuento con un diplomado en
                    Mercados Financieros e inversión en bolsa por el Tec de
                    Monterrey. Graduada de la Escuela de Dale Carnegie, miembro
                    activo de "Million Dollar Round Table", Presidente del
                    capítulo C+ de Business Network International y miembro de
                    Coparmex Metropolitano del Estado de México.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <hr class="border border-light" />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <button class="btn btn-light btn-lg m-1">Comprar libro</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
