.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #343a40; /* Ensure the header has a background color */
  padding: 10px 0;
}

.header .logo img {
  max-height: 50px;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

@media (max-width: 768px) {
  .header-buttons {
    flex-direction: row;
    align-items: flex-end;
  }
}

.main-container {
  position: relative;
  background-size: cover;
  background-attachment: fixed; /* Fixed background image */
  height: 85vh;
  overflow: hidden;
  padding-top: 70px; /* Add padding to avoid content being hidden behind the fixed header */
}

@media (max-width: 768px) {
  .main-container {
    padding-top: 150px; /* Adjust padding for mobile devices */
    height: 100vh;
  }
}

.a-no-underline {
  text-decoration: none;
  color: white;
}

.main-title {
  font-weight: 900;
}

.landing-container {
  height: 100vh;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.quote-text {
  font-size: 1.5rem;
  color: white;
}

@media (max-width: 768px) {
  .image-container img {
    max-width: 50%; /* Adjust image size for mobile devices */
    padding-bottom: 20px;
  }

  .quote-text {
    font-size: 1rem; /* Adjust font size for mobile devices */
  }
}

.fade-in {
  opacity: 0;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.btn-large {
  padding: 15px 30px; /* Increase padding */
  font-size: 1.25rem; /* Increase font size */
  border-radius: 1.375rem; /* Optional: Adjust border radius */
  width: auto; /* Optional: Adjust width */
  height: auto; /* Optional: Adjust height */
}

@media (max-width: 768px) {
  .btn-large {
    padding: 10px 20px; /* Adjust padding for mobile devices */
    font-size: 1rem; /* Adjust font size for mobile devices */
    border-radius: 1rem; /* Optional: Adjust border radius for mobile devices */
    width: auto; /* Optional: Adjust width for mobile devices */
    height: auto; /* Optional: Adjust height for mobile devices */
  }
}
