.purchase-title {
  font-weight: bold;
}

.purchase-name,
.purchase-email,
.purchase-price {
  margin-top: 0.5rem;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

button {
  margin: 0 0.5rem;
}
