.container-fluid {
  padding: 0;
}

.row {
  margin: 0;
}

.card {
  max-width: 100%;
  width: 300px;
}

@media (max-width: 768px) {
  .container-fluid {
    padding: 1rem;
  }

  .row {
    flex-direction: column;
    justify-content: center; /* Center vertically */
  }

  .col-md-6 {
    display: none;
  }

  .col-md-6.d-flex {
    height: 100vh; /* Full height for vertical centering */
    justify-content: center;
  }

  .card {
    width: 100%;
  }
}

.label-code {
  font-size: 1em;
  font-weight: bold;
  color: #000;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-code {
  text-align: center;
}

.no-border {
  border: none !important;
  box-shadow: none !important; /* Optional: Remove shadow if any */
}

.large-content {
  font-size: 1.2em; /* Increase font size */
}

.large-content .form-control {
  padding: 1rem; /* Increase padding */
  font-size: 1.2em; /* Increase font size */
}

.large-content .btn {
  padding: 0.75rem 1.5rem; /* Increase button padding */
  font-size: 1.2em; /* Increase button font size */
}

.large-content .label-code {
  font-size: 1.2em; /* Increase label font size */
}

.large-content .input-code {
  font-size: 1.2em; /* Increase input font size */
}

.large-content .text-danger {
  font-size: 1em; /* Adjust error message font size */
}

.img-fluid {
  cursor: pointer;
}
