<p-dialog
  header="Comprar Libro"
  [(visible)]="display"
  [modal]="true"
  [style]="{ width: '50vw' }"
  (onHide)="closeDialog()"
>
  <div class="p-grid">
    <div class="p-col-12 p-md-6">
      <img
        src="https://garbrix.com/silvia/assets/images/IMG-20250117-WA0016.png"
        alt="Book Image"
        class="img-fluid"
      />
    </div>
    <div class="p-col-12 p-md-6">
      <form>
        <div class="p-field">
          <label for="name">Nombre</label>
          <input id="name" type="text" pInputText />
        </div>
        <div class="p-field">
          <label for="email">Correo Electrónico</label>
          <input id="email" type="email" pInputText />
        </div>
        <div class="p-field">
          <label for="payment">Método de Pago</label>
          <input id="payment" type="text" pInputText />
        </div>
        <button pButton type="button" label="Comprar"></button>
      </form>
    </div>
  </div>
</p-dialog>
