<header class="header bg-dark py-3 fade-in">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="logo">
      <h1 class="text-white">
        <a href="#goTop" class="a-no-underline"
          ><strong>Silvia</strong> Mercado</a
        >
      </h1>
    </div>
    <div class="header-buttons">
      <button
        class="btn btn-light btn-sm m-1 btn-contact"
        (click)="openWhatsAppChat()"
      >
        <fa-icon *ngIf="isMobile" [icon]="faContactCard"></fa-icon>
        <span *ngIf="!isMobile">Contáctame</span>
      </button>
      <button
        class="btn btn-light btn-sm m-1 btn-finance"
        (click)="showDialog()"
      >
        <span *ngIf="isMobile">Comprar libro</span>
        <span *ngIf="!isMobile">Quiero mejorar mis finanzas</span>
      </button>
    </div>
  </div>
</header>
<section
  class="d-flex justify-content-center align-items-center main-container bg-white"
>
  <div class="container my-5">
    <div class="row">
      <div class="col-sm-12">
        <h1>Aviso de privacidad De “Silvia Mercado”</h1>

        <hr />
        <div class="col-sm-12">
          <p style="text-align: right">
            <span style="font-weight: 400"
              >&Uacute;ltima actualizaci&oacute;n: 20 de Febrero de 2025</span
            >
          </p>
          <p>&nbsp;</p>
          <p class="p3">
            “Silvia Mercado Finanzas Personales” con domicilio en Av.
            Insurgentes Sur 1079, Colonia del Valle Sur, Benito Juárez, 03720,
            Ciudad de México, hace de su conocimiento que sus datos personales,
            incluyendo los sensibles, que actualmente o en el futuro obren en
            sus bases de datos, serán tratados y/o utilizados por “Silvia
            Mercado Finanzas Personales” y/o las empresas controladoras de ésta
            y/o empresas filiales y/o subsidiarias y/o aquellos terceros que,
            por la naturaleza de su trabajo o funciones tengan la necesidad de
            tratar y/o utilizar sus datos personales (“Afiliadas”); con el
            propósito de cumplir aquellas obligaciones que se derivan de la
            relación jurídica existente entre Usted como titular de los datos
            personales y “Silvia Mercado Finanzas Personales” y sus Afiliadas en
            términos de lo dispuesto por la Ley Federal de Protección de Datos
            Personales en Posesión de los Particulares (la “Ley”).
          </p>
          <p class="p3">
            Los datos que usted proporcione en este sitio, a través de los
            formatos, formularios o cuestionarios en el sitio que pone
            disposición son comunicados por usted de forma libre y voluntaria
            por lo que usted declara que de forma enunciativa más no limitativa
            los siguientes datos personales de contacto y/o de identificación
            son veraces y comprobables, y acepta que será responsable de
            informar a “Silvia Mercado Finanzas Personales” de cualquier
            modificación en los mismos: nombre, sexo, edad, domicilio, correo
            electrónico, fecha de nacimiento, número telefónico físico y
            celular, nacionalidad, ocupación, domicilio, ingresos, información
            bancaria, orientación sexual, preferencias comerciales, perfiles de
            cuentas sociales, entre otros.
          </p>
          <p class="p3">
            Al ingresar sus datos personales en el Sitio, usted acepta
            este&nbsp;Aviso&nbsp;de&nbsp;Privacidad&nbsp;y usted otorga su
            consentimiento y/o autorización expresa a “Silvia Mercado Finanzas
            Personales” para recolectar, procesar/tratar, utilizar y almacenar
            su información personal para las finalidades que son descritas a
            continuación:
          </p>
          <p class="p3">&nbsp;</p>
          <p class="p4">
            <strong
              >1. FINALIDADES PRIMARIAS DEL TRATAMIENTO DE LOS DATOS</strong
            >
          </p>
          <p class="p4">&nbsp;</p>
          <p class="p3">
            Los datos personales antes enunciados, incluso aquellos de carácter
            sensible, proporcionados por usted a través del Sitio o por vía
            electrónica, óptica, sonora, visual o por cualquier otro medio o
            tecnología, son necesarios y serán tratados para los siguientes
            fines vinculados con dicha relación, a saber:
          </p>
          <p class="p3">
            Para información estadística y generación de reportes, para mejora
            de productos y servicios propios o de terceros, para evaluar la
            calidad en el servicio, para informarle de todos los beneficios de
            servicios y productos manejados por “Silvia Mercado Finanzas
            Personales”, otorgarle los servicios que puede usted obtener por la
            descarga de aplicaciones tecnológicas (“Apps”) en su (s) aplicativo
            (s) móvil (es) (“apps”).
          </p>
          <p class="p3">
            Para inscribirlo, darlo de alta en nuestros sistemas y administrar
            su expediente, para la creación de directorio de clientes, para
            recibirle pago, emitirle factura y en su caso realizar gestiones de
            cobranza. Finalmente, para la realización de asesorías a distancia a
            través de una videoconferencia.
          </p>
          <p class="p3">&nbsp;</p>
          <p class="p4">
            <strong>2. FINALIDADES SECUNDARIAS DEL TRATAMIENTO</strong>
          </p>
          <p class="p4">&nbsp;</p>
          <p class="p5">
            Estas actividades no son necesarias para brindarles nuestros
            servicios, pero permiten ofrecerle una mejor atención, mejorar la
            calidad del servicio proporcionado y realizar actividades
            mercadológicas y publicitarias. Tales actividades son: Recabar
            infromación sobre la satisfacción del cliente y necesidades. Formar
            parte de la imagen publicitaria de la marca, proporcionar
            información respecto a finanzas personales a través de medios
            digitales, así como invitaciones a eventos relacionados con el mundo
            financiero.
          </p>
          <p class="p5">
            Si usted no desea que sus datos personales sean tratados para las
            finalidades secundarias señaladas, o alguna de ellas, puede negarnos
            su consentimiento desde este momento enviándonos su solicitud a
            nuestro correo electrónico: contacto&#64;silviamercadofinanzas.com.
            Su negativa no será motivo para dejar de proporcionarle nuestros
            servicios y realizar las demás finalidades, y usted cuenta
            con&nbsp;seis días hábiles para hacérnosla saber, sin perjuicio de
            que posteriormente decidiera ejercer su derecho de revocación u
            oposición.
          </p>
          <p class="p5">&nbsp;</p>
          <p class="p4">
            <strong>TRATAMIENTO DE INFORMACIÓN CORPORATIVA Y DE NEGOCIO</strong>
          </p>
          <p class="p4">&nbsp;</p>
          <p class="p3">
            En el pleno compromiso por parte de “Silvia Mercado Finanzas
            Personales” por dar total y absoluto cumplimiento a las
            disposiciones legales relativas al tratamiento de datos personales,
            en este acto se amplían las responsabilidades del Sitio Web en favor
            de sus Usuarios, no sólo en la imposibilidad de acceder a la
            información bancaria de los mismos, sino también al no acceso a la
            información corporativa y de negocio que los Usuarios depositan en
            el Sitio.
          </p>
          <p class="p3">&nbsp;</p>
          <p class="p3"><strong>TRANSFERENCIA DE DATOS</strong></p>
          <p class="p3">&nbsp;</p>
          <p class="p3">
            “Silvia Mercado Finanzas Personales” no podrá descargar, manipular,
            consultar, observar, transferir, ceder, copiar o utilizar de
            cualquier forma directa o indirecta, la información proporcionada
            por el propio Usuario, con el propósito de generar un menoscabo o
            daño en él mismo. Lo anterior es extensivo no sólo al Sitio Web per
            sé, sino también a los empleados y colaboradores de “Silvia Mercado
            Finanzas Personales”.
          </p>
          <p class="p3">
            Dada la autorización y/o petición del Usuario por accesar a dicha
            información, los alcances y limitaciones que recaerán en “Silvia
            Mercado Finanzas Personales” serán de acuerdo a lo convenido por las
            partes.
          </p>
          <p class="p3">
            “Silvia Mercado Finanzas Personales” se reserva el derecho de
            cambiar, modificar, complementar y/o alterar el presente&nbsp;aviso,
            en cualquier momento, en cuyo caso se hará de su conocimiento a
            través de cualquiera de los medios que establece la legislación en
            la materia. El presente&nbsp;Aviso, así como sus modificaciones,
            estarán a su disposición en el Sitio y a través de comunicados
            colocados en el Domicilio de “Silvia Mercado Finanzas Personales” o
            informados mediante cualquier medio de comunicación que tengamos con
            usted.
          </p>
          <p class="p3">&nbsp;</p>
          <p class="p3">
            <strong
              >SUS DERECHOS- ¿COMO PUEDE ACCEDER, RATIFICAR, CANCELAR U OPONERSE
              AL TRATAMIENTO DE SUS DATOS PERSONALES?</strong
            >
          </p>
          <p class="p3">&nbsp;</p>
          <p class="p6">
            Como titular de los datos personales que usted nos proporcione,
            puede acceder a los mismos y a las condiciones de su tratamiento;
            rectificarlos en caso de que estén incompletos o sean inexactos,
            cancelarlos en caso de que considere que no están siendo tratados
            conforme a la normatividad aplicable, o bien, oponerse a su
            tratamiento. Los anteriores con sus derechos ARCO. (Acceso,
            Rectificación, Cancelación y Oposición).
          </p>
          <p class="p7">&nbsp;</p>
          <p class="p6">
            Usted podrá solicitar el ejercicio de sus derechos ARCO poniéndose
            en contacto con la responsable del tratamiento de sus datos
            personales “Silvia Mercado Finanzas Personales” al correo
            contacto&#64;silviamercadofinanzas.com, en la que deberá
            proporcionar:
          </p>
          <p class="p7">&nbsp;</p>
          <p class="p6">1.- Nombre y domicilio</p>
          <p class="p6">
            2.- Copia de su identificación oficial (credencial para votar,
            pasaporte, licencia de conducir)
          </p>
          <p class="p6">
            3.- Descripción clara y precisa de los Datos Personales a los que
            desea acceder o que desea ratificar, cancelar u oponerse.
          </p>
          <p class="p6">
            4.- Cualquier otro elemento que facilite la localización de sus
            datos.
          </p>
          <p class="p7">&nbsp;</p>
          <p class="p6">
            “Silvia Mercado Finanzas Personales” responderá a su petición en un
            máximo de veinte días, le indicará si es procedente la solicitud de
            acceso, rectificación, cancelación y oposición, y de ser procedente
            se hará efectiva la determinación dentro de los quince días hábiles
            siguientes a la fecha en que comunique dicha respuesta.
          </p>
          <p class="p7">&nbsp;</p>
          <p class="p6">
            <strong
              >REVOCAR SU CONSENTIMIENTO PARA EL TRATAMIENTO DE SUS DATOS
              PERSONALES</strong
            >
          </p>
          <p class="p8">&nbsp;</p>
          <p class="p6">
            En todo momento usted puede revocar el consentimiento que nos ha
            otorgado para el tratamiento de sus Datos Personales, a fin de que
            dejemos de hacer uso de los mismos. Para ello es necesario que
            presente su petición por escrito al correo
            contacto&#64;silviamercadofinanzas.com
          </p>
          <p class="p8">&nbsp;</p>
          <p class="p6">
            <strong>MODIFICACIONES AL AVISO DE PRIVACIDAD</strong>
          </p>
          <p class="p8">&nbsp;</p>
          <p class="p6">
            El presente Aviso de Privacidad, puede ser modificado en cualquier
            momento, en atención de novedades legislativas, políticas internas o
            nuevos requerimientos para la prestación u ofrecimiento de nuestros
            servicios o productos.
          </p>
          <p class="p6">
            Dichos cambios serán notificados vía electrónicamente al correo
            proporcionado por usted.
          </p>
          <p class="p7">&nbsp;</p>
          <p class="p5">
            En caso de alguna inquietud respecto del tratamiento de datos
            personales, puede consultar al Instituto Federal de Acceso a la
            Información (IFAI) en&nbsp;<a
              target="_blank"
              rel="noopener noreferrer"
              href="http://www.ifai.org.mx"
              ><span class="s2">www.ifai.org.mx</span></a
            >. Al acceder a este sitio web, usted acepta y confirma el
            conocimiento de nuestras políticas de&nbsp;privacidad&nbsp;y los
            términos y condiciones referidos.
          </p>
          <p class="p9"><br />&nbsp;</p>
          <p class="p5"><strong>Uso de Cookies y Web Beacons</strong></p>
          <p class="p5">&nbsp;</p>
          <p class="p5">
            Las cookies son archivos de texto que son descargados
            automáticamente y almacenados en el disco duro del equipo de cómputo
            del usuario al navegar en una página de Internet específica, que
            permiten recordar al servidor de Internet algunos datos sobre este
            usuario, entre ellos, sus preferencias para la visualización de las
            páginas en ese servidor, nombre y contraseña. Por su parte, las web
            beacons son imágenes insertadas en una página de Internet o correo
            electrónico, que puede ser utilizado para monitorear su
            comportamiento en Internet.
          </p>
          <p class="p5">
            Le informamos que utilizamos la herramienta Google Analytics,
            cookies y web beacons, para monitorear cuántas personas visitan la
            página web de “Silvia Mercado Finanzas Personales”, con qué
            frecuencia, durante cuánto tiempo, en qué día y a qué hora, y cómo
            fue que llegaron a dicha página. Por lo anterior, mediante estas
            tecnologías obtenemos la siguiente información personal de usted:
          </p>
          <ul class="ul1">
            <li class="li6">
              <span class="s3"></span
              ><span class="s4">Su tipo de navegador y sistema operativo.</span>
            </li>
            <li class="li6">
              <span class="s3"></span
              ><span class="s4">Las páginas de Internet que visita.</span>
            </li>
            <li class="li6">
              <span class="s3"></span
              ><span class="s4"
                >El sitio que visitó antes de entrar al nuestro.</span
              >
            </li>
            <li class="li6">
              <span class="s3"></span
              ><span class="s4">Los vínculos que sigue.</span>
            </li>
            <li class="li6">
              <span class="s3"></span
              ><span class="s4"
                >El motor de búsqueda que en su caso haya utilizado para llegar
                a nuestra página.</span
              >
            </li>
            <li class="li6">
              <span class="s3"></span><span class="s4">Su dirección IP.</span>
            </li>
            <li class="li6">
              <span class="s3"></span
              ><span class="s4"
                >Frecuencia con la que nos visita, o si es la primera vez que lo
                hace.</span
              >
            </li>
            <li class="li6">
              <span class="s3"></span
              ><span class="s4"
                >Día, horario y tiempo de navegación en nuestra página de
                Internet, así como las secciones consultadas.</span
              >
            </li>
            <li class="li10">
              <span class="s3"></span
              ><span class="s4"
                >Su ubicación geográfica al momento de visitarnos (sólo se
                almacena país y ciudad).</span
              >
            </li>
          </ul>
          <p class="p5">
            Sus datos personales obtenidos a través de estas tecnologías NO los
            transferiremos a terceras personas. Asimismo, le informamos que
            usted puede deshabilitar estas tecnologías en la inteligencia de que
            los pasos a seguir para dicha deshabilitación puede variar
            dependiendo de los fabricantes de cada programa.
          </p>
          <p class="p5">
            Para conocer cómo hacerlo, consulte la información técnica del
            navegador que está utilizando. Todos los navegadores tales como
            Internet Explorer 9, Mozilla Firefox 17 o Google Chrome entre otros,
            permiten desactivar las cookies. En las siguientes ligas se
            encuentran ejemplos de cómo hacerlo para estos cuatro navegadores de
            ejemplo:
          </p>
          <ul class="ul1">
            <li class="li10">
              <span class="s3"></span
              ><span class="s4">Para Internet Explorer:</span>
            </li>
          </ul>
          <p class="p11">
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="http://windows.microsoft.com/es-MX/windows-vista/Blockorallow-cookies"
              ><span class="s5"
                >http://windows.microsoft.com/es-MX/windows-vista/Blockorallow-cookies</span
              ></a
            >
          </p>
          <ul class="ul1">
            <li class="li10">
              <span class="s3"></span
              ><span class="s4">Para Mozilla Firefox:</span>
            </li>
          </ul>
          <p class="p11">
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="http://support.mozilla-org/es/kb/habilitar-y-deshabilitar-cookiesque-los-sitios-we"
              ><span class="s5"
                >http://support.mozilla-org/es/kb/habilitar-y-deshabilitar-cookiesque-los-sitios-we</span
              ></a
            >
          </p>
          <ul class="ul1">
            <li class="li10">
              <span class="s3"></span><span class="s4">Para GoogleChrome:</span>
            </li>
          </ul>
          <p class="p11">
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="http://support.google.com/chrome/bin/answer.py?hl=es&amp;answer=95647"
              ><span class="s5"
                >http://support.google.com/chrome/bin/answer.py?hl=es&amp;answer=95647</span
              ></a
            >
          </p>
          <ul class="ul1">
            <li class="li10">
              <span class="s3"></span><span class="s4">Para Safari:</span>
            </li>
          </ul>
          <p class="p11">
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="https://www.apple.com/mx/privacy/use-of-cookies"
              ><span class="s5"
                >http://www.apple.com/mx/privacy/use-of-cookies</span
              ></a
            >
          </p>
          <p class="p7">&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
