<section class="bg-dark main-container">
  <div class="container-fluid vh-100 position-relative">
    <div class="row h-100">
      <div class="col-sm-6 no-padding-left d-flex align-items-center">
        <img
          src="https://garbrix.com/silvia/assets/images/IMG-20250117-WA0023.png"
          alt="Book Image"
          class="img-fluid book-image"
        />
      </div>
      <div class="col-sm-6 d-flex align-items-center">
        <div class="container-fluid px-5">
          <div class="row">
            <div class="col-sm-12">
              <h4 class="text-center text-white">
                “Finanzas Felices” no es solo un libro, es una guía para
                transformar tu relación con el dinero. Descubre el método
                F.E.L.I.Z. y aprende a manejar tus finanzas con estrategia,
                inteligencia y tranquilidad. ¡Haz tuyo el cambio hoy!
              </h4>
            </div>
          </div>
          <div class="row my-4">
            <div class="col-sm-12">
              <h2 class="text-center text-white">
                Precio: {{ book.price | currency }}
              </h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <form
                [formGroup]="purchaseForm"
                (ngSubmit)="handlePayment()"
                class="w-100 custom-form"
              >
                <div class="form-group">
                  <input
                    id="name"
                    type="text"
                    placeholder="Nombre"
                    class="form-control custom-input"
                    formControlName="name"
                    [ngClass]="{
                      'is-invalid':
                        purchaseForm.get('name')?.touched &&
                        purchaseForm.get('name')?.invalid
                    }"
                  />
                </div>
                <div class="form-group">
                  <input
                    id="email"
                    type="email"
                    placeholder="Correo Electrónico"
                    class="form-control custom-input"
                    formControlName="email"
                    [ngClass]="{
                      'is-invalid':
                        purchaseForm.get('email')?.touched &&
                        purchaseForm.get('email')?.invalid
                    }"
                  />
                </div>
                <div class="mt-3">
                  <div
                    id="card-element"
                    class="form-control custom-input-payment"
                  ></div>
                </div>
                <div class="mt-3 text-center">
                  <button
                    type="button"
                    class="btn btn-outline-light"
                    (click)="openCouponModal()"
                  >
                    Aplicar cupón
                  </button>
                </div>
                <div class="form-group mt-5 mb-2 form-check text-center">
                  <label class="form-check-label text-white" for="terms">
                    Al pagar aceptas los <a href="#">términos, condiciones</a> y
                    <a href="#">aviso de privacidad</a>.
                  </label>
                </div>
                <button
                  *ngIf="!isLoadingCheckout"
                  type="submit"
                  class="btn btn-light btn-lg w-100 custom-button"
                >
                  <fa-icon [icon]="faLock"></fa-icon> Adquirir libro
                </button>
                <button
                  *ngIf="isLoadingCheckout"
                  type="submit"
                  class="btn btn-light btn-lg w-100 custom-button"
                  disabled
                >
                  Pagando...
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header">
      <button class="close-button" (click)="closeDialog()">×</button>
    </div>
  </div>
  <app-payment-success
    *ngIf="selectIsPaid$ | async"
    (backEvent)="goBack()"
  ></app-payment-success>
  <app-payment-failure
    *ngIf="(selectIsPaid$ | async) === false"
    (retryEvent)="retryPayment()"
  ></app-payment-failure>
  <app-apply-coupon-modal
    (couponApplied)="applyingCoupon($event)"
  ></app-apply-coupon-modal>
</section>
