.no-padding-left {
  padding-left: 0 !important;
}

.card_book {
  width: 85% !important;
  max-height: 90vh; /* Ensure the card does not overflow the screen height */
  overflow-y: auto; /* Add vertical scroll if content overflows */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Increase shadow on the card */
  border-radius: 2.375rem;
}

.card_book:hover {
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.7); /* Increase shadow on hover */
}

@media (max-width: 1340px) {
  .card_book {
    max-height: 96vh;
    padding-top: 20px; /* Change padding top when screen is less than 1340px */
  }

  h4 {
    font-size: 1.1rem; /* Adjust the font size for mobile devices */
  }

  h2 {
    font-size: 1.5rem; /* Adjust the font size for mobile devices */
  }
}

@media (max-width: 950px) {
  .card_book {
    width: 100% !important; /* Change width to 100% on mobile devices */
  }
}

.book-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 15px; /* Add border radius to the bottom left */
}

.custom-form .custom-input {
  border: 2px solid #ffffff; /* Custom border color */
  height: 70px;
  border-radius: 5px; /* Custom border radius */
  padding: 10px; /* Custom padding */
  font-size: 1rem; /* Custom font size */
  margin-bottom: 15px; /* Custom margin */
  background-color: rgb(16, 17, 17), var(--bs-bg-opacity) !important;
  color: #ffffff; /* Custom text color */
  border-radius: 1.5rem;
}

.custom-form .custom-input::placeholder {
  color: #cccccc; /* Custom placeholder color */
  padding-left: 10px;
}

.custom-form .custom-input:focus,
.custom-form .custom-input:active {
  border-color: #0056b3; /* Custom border color on focus and active */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Custom box shadow on focus and active */
  outline: none; /* Remove default outline */
  background-color: #000000; /* Custom background color */
  color: #ffffff; /* Custom text color */
}

.custom-form .custom-input-payment {
  border: 2px solid #ffffff; /* Custom border color */
  border-radius: 5px; /* Custom border radius */
  padding: 10px; /* Custom padding */
  padding-top: 28px;
  padding-bottom: 28px;
  font-size: 1rem; /* Custom font size */
  margin-bottom: 15px; /* Custom margin */
  background-color: rgb(16, 17, 17), var(--bs-bg-opacity) !important;
  color: #ffffff; /* Custom text color */
  border-radius: 1.5rem;
}

.custom-form .custom-input-payment::placeholder {
  color: #cccccc; /* Custom placeholder color */
  padding-left: 10px;
}

.custom-form .custom-input-payment:focus,
.custom-form .custom-input-payment:active {
  border-color: #0056b3; /* Custom border color on focus and active */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Custom box shadow on focus and active */
  outline: none; /* Remove default outline */
  background-color: #000000; /* Custom background color */
  color: #ffffff; /* Custom text color */
}

.custom-button {
  transition: transform 0.3s ease; /* Add transition for smooth effect */
  border-radius: 1.5rem;
  height: 70px;
}

.custom-button:hover {
  transform: scale(1.05); /* Increase size on hover */
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  padding: 10px;
  padding-right: 30px;
  display: flex;
  justify-content: flex-end;
}

.close-button {
  background: transparent;
  border: none;
  color: white;
  font-size: 4rem;
  cursor: pointer;
}

.recaptcha-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.fa-spin {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.padding-top-mobile {
  padding-top: 0vh;
}

.margin-bottom-mobile {
  margin-bottom: 0vh;
}

@media (max-width: 950px) {
  .main-container {
    padding: 10px;
    overflow-x: hidden;
  }

  .padding-top-mobile {
    padding-top: 10vh;
  }

  .margin-bottom-mobile {
    margin-bottom: 10vh;
  }

  .book-image {
    display: none;
  }

  .custom-form {
    width: 100%;
  }

  .custom-form .custom-input {
    height: 40px;
  }

  .custom-input,
  .custom-input-payment {
    width: 100%;
    margin-bottom: 10px;
  }

  .custom-button {
    margin-top: 15px;
  }

  .header {
    position: absolute;
    top: 5px;
    right: 2px;
  }

  .close-button {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
  }

  .col-md-6 {
    width: 100%;
    padding: 0;
  }

  .container-fluid {
    padding: 0;
  }

  .text-center {
    text-align: center;
  }

  h4 {
    font-size: 1.1rem; /* Adjust the font size for mobile devices */
  }

  h2 {
    font-size: 1.5rem; /* Adjust the font size for mobile devices */
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.padding-x {
  padding-left: 5em;
  padding-right: 5em;
}

@media (max-width: 950px) {
  .padding-x {
    padding-left: 1em;
    padding-right: 1em;
  }
}
