.main-container {
  padding-top: 8vh !important;
  flex: 1;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px; /* Adjust the height as needed */
  background-color: #343a40; /* Match the background color of the footer */
}

section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section > .row {
  flex: 1;
}
