<p-dialog
  [(visible)]="display"
  [modal]="true"
  [style]="{ width: '30vw' }"
  position="center"
  [breakpoints]="{ '1199px': '50vw', '575px': '75vw' }"
  (onHide)="onDialogHide()"
  closable="false"
  draggable="false"
>
  <div class="coupon-panel_container">
    <div class="container-fluid">
      <div class="row text-center mb-3">
        <div class="col-sm-12">
          <div class="coupon-panel_title mt-3">
            <span class="coupon-panel_title-bold">Aplicar Cupón</span>
            <button
              type="button"
              class="btn-close float-end padding-top-btn-close"
              (click)="closeModal()"
            ></button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form [formGroup]="couponForm" (ngSubmit)="applyCoupon()">
            <div class="form-group mb-2">
              <input
                type="text"
                id="couponCode"
                formControlName="couponCode"
                placeholder="Código del Cupón"
                class="form-control"
                (input)="convertToUppercase($event)"
                [ngClass]="{
                  'is-invalid':
                    couponForm.get('couponCode')?.invalid &&
                    couponForm.get('couponCode')?.touched
                }"
              />
              <div
                *ngIf="
                  couponForm.get('couponCode')?.invalid &&
                  couponForm.get('couponCode')?.touched
                "
                class="invalid-feedback"
              >
                Código del cupón es requerido.
              </div>
            </div>
            <div *ngIf="isValidCoupon" class="my-3 text-center">
              <span class="badge text-bg-danger">El cupón es inválido</span>
            </div>
            <div class="form-group text-center">
              <button
                type="submit"
                class="btn btn-dark w-50"
                [disabled]="couponForm.invalid"
              >
                Aplicar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
