.footer {
  background-color: #343a40;
  color: #ffffff;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer a:hover {
  color: #d3d3d3;
}

.footer .btn {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.footer .social-icon {
  width: 24px; /* Adjust the width as needed */
  height: 24px; /* Adjust the height as needed */
}

.footer .small-text {
  font-size: 0.6rem; /* Adjust the font size as needed */
}

@keyframes bump {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.bump-effect {
  display: inline-block;
  animation: bump 0.9s infinite;
}
