<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngClass]="{ show: display, fade: !display }"
  [ngStyle]="{ display: display ? 'block' : 'none' }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Actualizar Precio del Libro</h5>
        <button
          type="button"
          class="btn-close"
          (click)="closeModal()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="updatePriceForm" (ngSubmit)="confirmUpdate()">
          <div class="form-group">
            <label for="newPrice">Nuevo Precio</label>
            <input
              type="number"
              id="newPrice"
              formControlName="newPrice"
              class="form-control"
              required
            />
          </div>
          <button
            type="submit"
            class="btn btn-dark mt-3"
            [disabled]="updatePriceForm.invalid"
          >
            Actualizar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngClass]="{ show: confirmDisplay, fade: !confirmDisplay }"
  [ngStyle]="{ display: confirmDisplay ? 'block' : 'none' }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmación</h5>
        <button
          type="button"
          class="btn-close"
          (click)="closeConfirmModal()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>¿Estás seguro de que deseas actualizar el precio del libro?</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="closeConfirmModal()"
        >
          Cancelar
        </button>
        <button type="button" class="btn btn-success" (click)="updatePrice()">
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>
