.svg-carousel {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
}

.svg-track {
  display: flex;
  width: 100%;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.svg-icon {
  flex: 0 0 auto;
  fill: currentColor; /* Ensures the SVG uses the current text color */
  margin: 0 10px; /* Adjust the margin as needed */
  color: rgb(255, 255, 255); /* Change the color as needed */
  width: 220px;
  padding: 10px;
}

@media (max-width: 768px) {
  .svg-icon {
    width: 100px; /* Adjust the width as needed */
    margin: 0 5px; /* Adjust the margin as needed */
  }
}
