<section
  class="d-flex justify-content-center align-items-center main-container pt-5 bg-dark"
  id="goTop"
>
  <div class="container py-vh-4 position-relative mt-5 px-vw-5 text-center">
    <div
      class="row d-flex align-items-center justify-content-center py-vh-5 mx-auto"
    >
      <div class="col-12 col-xl-10" id="target-element">
        <div class="row">
          <div class="col-6 text-container text-end text-white">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <h1 class="main-title">
                    Estamos trabajando en algo increíble, pronto estaremos de
                    vuelta.
                  </h1>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 image-container">
            <img
              src="https://garbrix.com/silvia/assets/images/IMG-20250117-WA0016.png"
              alt="landing-image"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
