.main-container {
  position: relative;
  background-size: cover;
  background-attachment: fixed; /* Fixed background image */
  height: 100vh;
  overflow: hidden;
}

.main-title {
  font-weight: 900;
}

.landing-container {
  height: 100vh;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.quote-text {
  font-size: 1.5rem;
  color: white;
}
